/* .page2 {
    background-image: url('../images/register.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center; 
}
.boxregister {
    width: 360px;
    padding: 100px 0 0;
    margin: auto; 
   height: 300px;
}
 
.formregister {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    padding: 0 45px 45px 45px;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    
}

.formregister input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;  
    border: 0%;
    margin: 0 0 15px;  
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.formregister img {
    width: 250px;
    height: 150px;   
}

.formregister h3 {
    text-align: center;
}

.formregister a {
    align-content: left;
    text-decoration: none;

} */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    background-color:#080808;
    z-index: 20;
    border-bottom: 4px solid #545454; 
}

.content {

    width: 983px;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    background-color: rosybrown;
    margin-bottom: 90px;
    margin-top: 180px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    max-height: 100%;
    min-height: 450px;
}

.formregister {
    position: relative;
    z-index: 1;
    /* background: #ffffff; */
    max-width: 360px;
    padding: 80px 45px 45px 45px;
    text-align: center;
    /* border-radius: 50px 50px 50px 50px; */
    
}

.formregister input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;  
    border: 0%;
    margin: 0 0 15px;  
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.orregister {
    margin-left: 100px;
    margin-top: 20px;
    position: absolute;
    top: 34px;
    left: 424px;
    width: 1px;
    height: 300px;
    background: #545454;
    border: 2px solid #545454;
}

.rightregister {
  
    /* float: right; */
    width: 300px; 
    height: 50px;
    margin-top: 130px;
    margin-left: 100px;
    background: #444bb3;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
     
    font-size: 15px;
    
   
}