.logout {

    float: right;
    margin: 50px;

    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size:20px;
    color: azure

}
.homeheader {
    width: 100%;
    margin: 0;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    background-color:#080808;
    border-bottom: 4px solid #545454;

}

.outerbox {

   margin-top: 120px;
   margin-left: -8px;
    height: 83%;

    position: absolute;

    width: 100%;
    background-color:rgb(143, 148, 153)
}

.box1 {

    float: left;
    height: 100%;
    width:25%;
    background-color: #e6f2ff;
    overflow-y: scroll;

}

.box2 {
    /* position: relative; */
    float: right;
    height: 75%;
    width:70%;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #f9ecf2;
    border-radius: 10px 10px 10px 10px;   
    overflow-y: scroll; 
    padding: 20px;
}

.box3 {

    width:70%;
    height: 10%;
float: right;
margin-top: 10px;
margin-right: 10px;
    /* background-color: rgb(143, 148, 153); */

}

.send {

  float: right;
  margin-top: 15px;
  /* margin-right: 120px; */
}

.contacts {
    background-color: #e6f2ff;
    margin: 10px;
    cursor:pointer;
    /* padding: 10px; */
    width: 200px;
    height: 30px;
    text-align: initial;
    font-style: italic;
    font-size: 20px;
    color:    #ff4000
}

.left {
    float: left;
    padding: 10px;
    /* height: 70px; */
    width: 200px;
    margin-right: 500px;
    border-radius: 10px;
    background-color: rgb(135, 202, 222);
    height : fit-content
  
}

.right {
    float : right;
    padding: 10px;
    /* height: 70px; */
    width: 200px;
    border-radius: 10px;
    margin-left: 500px;
    background-color: burlywood;
    height : fit-content;
    word-wrap: break-word;
}

.singlehead {
    /* position: fixed; */
    text-align: center;

    color: #545454;

   
}



