 .page {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center; 
}
.box {
    width: 360px;
    padding: 100px 0 0;
    margin: auto; 
   height: 300px;
}
 
.header {
    background-color: #F1F1F1;
    text-align: center;
    margin:-8px;
    /* border-radius: 10px 10px 10px 10px; */
    overflow: hidden;
    height: 50px;
  padding: 20px 10px;
    
}

.header a {

    align-content: left;
    text-decoration: none;
    padding: 10px;

    margin-right: 50px
}

/* .section { */
    /* background-color: #F1F1F1; */
/* } */

.div {
    background-color: #F1F1F1;
    width: 200px;
    height: 560px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    /* margin: 20px; */
    /* margin:-8px; */
    margin-left: -8px;
    margin-top: 10px;

    float: left;
}

.div button {

    /* padding: 10px; */
    margin-top: 20px;
    

}

.contacts {
    margin-top: 20px;
    margin-left: 10px;
    /* padding: 5px */
}

.text {
    background-color: #F1F1F1;
    /* float:right; */

    /* margin-left: 50px; */

    height: 50px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    

}

.dashboard {

    margin-top: 10px;
float: right;
    /* margin-left: 500px; */
    background-color: rgb(204, 109, 109);
        
    height: 590px;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    
}

.view {
    height: 530px;
    width: 400px;
    background-color: #F1F1F1;
    border-radius: 10px 10px 10px 10px;
}

.choce {

    height: 530px;
    width: 400px;
    background-color: #F1F1F1;
}

.hidden { 
    visibility: hidden; 
}

.unhidden { 
    visibility: visible; 
} 