 body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center; 
}
.box {
    width: 360px;
    padding: 100px 0 0;
    margin: auto; 
   height: 300px;
}
 
.header {
    background-color: #F1F1F1;
    text-align: center;
    margin:-8px;
    /* border-radius: 10px 10px 10px 10px; */
    overflow: hidden;
    height: 50px;
  padding: 20px 10px;
    
}

.header a {

    align-content: left;
    text-decoration: none;
    padding: 10px;

    margin-right: 50px
}

/* .section { */
    /* background-color: #F1F1F1; */
/* } */

.div {
    background-color: #F1F1F1;
    width: 150px;
    height: 620px;
    padding: 20px;
    /* border-radius: 10px 10px 10px 10px; */
    /* margin: 20px; */
    margin:-8px;
}

.div button {

    /* padding: 10px; */
    margin-top: 20px;
    

}

.contacts {
    margin-top: 20px;
    margin-left: 10px;
    /* padding: 5px */
}