

<body>

    <div class="header">
        <img src="../images/logo.jpg" style="width: 150px;height: 75px;float: left;  border-radius: 10px 10px 10px 10px; ">
        <nav>
            <a href="#!/login" style="float: right; " ng-click="close()">logout</a>
            
        </nav>
    </div>

    <div class="div">
            <button ng-click="displayContacts()">Friends List</button>
           <div class="contacts" ng-repeat="x in contacts">{{x}}</div> 
           <!-- <h1 ng-repeat="x in contacts">{{x}}</h1> -->
    </div>



</body>
 
</html>