
    <div class="boxlogin" >
        <div class="form">
                <img  src="images/logo.jpg">
            <form >
                <input class='input' type="email" name="email" placeholder="E-mail" ng-model = "user.email"/>
                <input type="text" name="Password" placeholder="Password" ng-model = "user.password"/>
                For Account ?
                  <a href="#!/register">Register here</a> &nbsp &nbsp  
                <button ng-click="displayHome()">Login</button>
                <h3>{{message}}</h3>
            </form>
        </div>
    </div>

