
    <div class="box">
        <div class="form">
                <img  src="images/logo.jpg">
                <h3> Create your Chit Chat Account</h3>
            <form  >
                <input type="text" name="username" placeholder="Name" ng-model = "user.username"/>
                <input type="email" name="email" placeholder="E-mail" ng-model = "user.email"/>
                <input type="number" name="phonenumber" placeholder="Phone Number" ng-model = "user.phonenumber"/>
                <input type="password" name="password" placeholder="Password" ng-model = "user.password"/>
                 <a href="#!/login">Sign in</a>  
                <!-- <span style="margiun"></span> -->
                <button ng-click="register()" style="margin-left: 10px">Submit</button>
                <h3>{{message}}</h3>
            </form>

        </div> 

    </div>
